<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.Chrome.WebDriver" version="85.0.0" targetFramework="net48" />
  <package id="Selenium.Support" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.22.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.MSEdgeDriver" version="126.0.2592.68" targetFramework="net48" />
  <package id="Selenium.WebDriverBackedSelenium" version="4.1.0" targetFramework="net48" />
</packages>